body {
  background-color: #ecf0f1;
}
.gallery-header{
  text-align: center;
}
.gallery-container {
  display: flex;
  justify-content: center;
  gap: 0.5em;
  flex-wrap: wrap;
  width: 50%;
  height: auto;
  padding: 10px;
  margin: 0 auto;
}
.gallery-item {
  width: 24%;
  margin-bottom: 6px;
  opacity: 0.85;
  cursor: pointer;
}
.gallery-item:hover {
  opacity: 1;
}
.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.lightbox {
  position: fixed;
  display: none;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  overflow: auto;
  top: 0;
  left: 0;
}img{
  border-radius: 5px;
}
.lightbox-content {
  position: relative;
  width: 65%;
  height: 79%;
  margin: 5% auto;
}
.lightbox-content img {
  width: 100%;
  height: 100%;
  border: 6px solid #fff;
  object-fit: cover;
}
.lightbox-prev,
.lightbox-next {
  position: absolute;
  background-color: rgba(175, 161, 161, 0.8);
  color: #fff;
  padding: 9px;
  top: 45%;
  cursor: pointer;
}
.lightbox-prev {
  left: 0;
}
.lightbox-next {
  right: -12px;
}
.lightbox-caption {
  color: #fff;
  font-size: 1.2em;
  text-align: center;
  margin-top: 10px;
}
@media only screen and (max-width: 480px) {
  .gallery-container {
    width: 50%;
    flex-direction: column;
    text-align: center;
  }
  .gallery-item {
    width: 100%;
    margin-bottom: 3px;
  }
  .lightbox-content {
    width: 80%;
    height: 60%;
    margin: 15% auto;
  }
.gallery-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  .gallery-container {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .gallery-item {
    width: 100%;
    margin-bottom: 3px;
  }
  .lightbox-content {
    width: 80%;
    height: 60%;
    margin: 15% auto;
  }
.gallery-item img {
  width: 50%;
  height: auto;
  object-fit: cover;
}
}