* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

.main-todo-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.forms-container {
  width: 30%;
}
form {
  position: fixed;
  width: 30%;
}
.items-container {
  width: 65%;
  display: flex;
  flex-direction: column;
}
.todo-item-container {
  border: 1px solid #ddd;
  border-radius: 5px;
  min-height: 400px;
  overflow-y: auto;
  background-color: #f9f9f9;
  height: 100%;
  padding: 10px;
}

.sort-button {
  align-self: flex-end;
  margin-top: 10px;
  padding: 10px;
  display: none;
  margin-bottom: 5px;
}
.title_actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h2 {
  text-align: center;
}

.todo-item {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
}
textarea {
  width: 100%;
  height: 150px;
  border-radius: 5px;
  border: 1.5px solid black;
  margin-bottom: 10px;
  padding: 10px;
}
.add-to-do button {
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  background-color: rgb(76, 175, 76);
  border: none;
  color: white;
  transition: ease-in;
  transition-duration: 0.5s;
}

.add-to-do button:hover {
  background-color: green;
}

.items-container button {
  padding: 3px;
  border: none;
  font-size: 12px;
  cursor: pointer;
}
.action-bottom button {
  padding: 5px;
  border-radius: 3px;
  cursor: pointer;
  background-color: rgb(76, 175, 76);
  color: white;
  border: none;
  transition: ease-in;
  transition-duration: 0.5s;
}
.action-bottom button:hover {
  background-color: green;
}
.items-in-todo {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.todo-item:not(:last-child) {
  border-bottom: 1px solid red;
}
.action-duedate {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.completed {
  text-decoration:solid;
  color: rgb(173, 172, 172);
}
@media only screen and (max-width: 767px) {
  .main-todo-container {
    width: 100%;
    flex-direction: column;
    gap: 2em;
  }
  form {
    position: static;
    width: 100%;
  }

  .forms-container {
    width: 100%;
  }
  .items-container {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    min-height: 400px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .main-todo-container {
    width: 100%;
    flex-direction: column;
    gap: 2em;
  }
  form {
    position: static;
    width: 100%;
  }

  .forms-container {
    width: 100%;
  }
  .items-container {
    width: 100%;
  }
}
